name: sstp_flutter
description: A new Flutter plugin project.
version: 0.0.1
homepage: https://github.com/NavidShokoufeh/sstp_flutter

environment:
  sdk: '>=3.1.2 <4.0.0'
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  get: ^4.6.6
  plugin_platform_interface: ^2.0.2
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.example.sstp_flutter
        pluginClass: SstpFlutterPlugin

